html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: white;
  background: black;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  min-width: 1152px;
}

.main-container {  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
}

.main-header {
  width: 100%;
  height: 25%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

.screen {
  background: url("../assets/map.png");
  position: relative;
  width: 1152px;
  height: 624px;
  z-index: -1;
}

.desk {
  background: url("../assets/desk.png");
  width: 480px;
  height: 192px;
  position: absolute;
  z-index: 0;
}

.desk-one {
  left: 96px;
  top: 144px;
}

.desk-two {
  left: 576px;
  top: 144px;
}

.desk-three {
  left: 96px;
  top: 336px;
}

.desk-four {
  left: 576px;
  top: 336px;
}

.sprite {
  width: 48px;
  height: 96px;
  top: 48px;
  left: 96px;
  position: absolute;
  transition: .2s;
  z-index: -1;
}

.computer {
  width: 1536px;
  height: 1344px;
  justify-self: center;
  position: absolute;
  background: url("../assets/terminal_screen.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal-screen {
  position: absolute;
  top: 23%;
  left: 20.75%;
  width: 57.5%;
  height: 44.25%;
  background: black;
  color: greenyellow;
}

.terminal-open {
  animation: .5s terminal-open;
}

.terminal-close {
  animation: .5s terminal-close;
}

@keyframes terminal-open {
  from {top: 100%; scale: .25;}
  to {top: -5%; scale: 1}
}

@keyframes terminal-close {
  from {top: -5%; scale: 1;}
  to {top: 100%; scale: .25}
}





